[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-mail = "*"
flask-jwt-extended = "*"
flask-bcrypt = "*"
psycopg2-binary = "*"
flask-oauthlib = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "*"
